if TARGET_MESON_T5

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "t5_ak321_v1"

config SYS_VENDOR
	string
	default "amlogic"

config SYS_SOC
	string
	default "t5"

config SYS_CONFIG_NAME
	default "t5_ak321_v1"

config BL30_SELECT
	string "T5 BL30 board config"
	default "t5_ak301_v1"

endif
