if TARGET_C2_AF401

config SYS_SOC
	default "c2"

config SYS_BOARD
	default "c2_af401"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "c2_af401"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default y
	help
	  support plltest command

endif
