if TARGET_MESON_G12A

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "kvim3l"

config SYS_VENDOR
	string
	default "khadas"

config SYS_SOC
	string
	default "g12a"

config SYS_CONFIG_NAME
	default "kvim3l"

endif
