config AML_LCD_BACKLIGHT
	bool "backlight control for lcd"
	depends on AML_LCD
	help
	  Support for lcd backlight control


source "drivers/amlogic/media/vout/lcd/backlight/bl_ldim/Kconfig"
source "drivers/amlogic/media/vout/lcd/backlight/bl_extern/Kconfig"
