config KHADAS_VIM3
	bool "Support Khadas VIM3 board"
	default n

if KHADAS_VIM3
source "board/khadas/kvim3/Kconfig"
endif

config KHADAS_VIM3L
        bool "Support Khadas VIM3L board"
        default n

if KHADAS_VIM3L
source "board/khadas/kvim3l/Kconfig"
endif


