CONFIG_ARM=y
CONFIG_ARCH_MESON=y
CONFIG_SYS_TEXT_BASE=0x00000000
CONFIG_MESON_SC2=y
CONFIG_PXP_EMULATOR=y
CONFIG_AML_TSENSOR=n
CONFIG_AML_TSENSOR_COOL=n
CONFIG_NEED_BL32=n
CONFIG_SC2_SKT=y
CONFIG_DEBUG_UART_BASE=0xfe07a000
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_DEBUG_UART=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_BOOTCOMMAND="echo bootcmd"
CONFIG_BOARD_LATE_INIT=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_SYS_PROMPT="sc2_pxp# "
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_IMI is not set
CONFIG_CMD_CLKMSR=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_DSPSET=n
CONFIG_CMD_EFUSE=n
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_MTD=y
CONFIG_CMD_SF=n
CONFIG_CMD_USB=n
CONFIG_CMD_SARADC=n
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_MISC is not set
CONFIG_CMD_MTDPARTS=n
CONFIG_AML_STORAGE=y
CONFIG_CMD_RSVMEM=y
CONFIG_CMD_WATCHDOG=y
CONFIG_CMD_JTAG=n
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="meson-sc2-pxp"
CONFIG_ENV_IS_IN_STORAGE=y
# CONFIG_REGMAP is not set
CONFIG_ADC=y
CONFIG_SARADC_MESON=y
CONFIG_SARADC_MESON_G12A=y
CONFIG_CLK=y
CONFIG_CLK_MESON=y
CONFIG_CLK_MESON_SC2=y
CONFIG_USB_FUNCTION_FASTBOOT=n
CONFIG_DM_GPIO=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_MESON=y
CONFIG_MISC=y
CONFIG_CMD_MMC=y
CONFIG_DM_MMC=y
CONFIG_MMC_MESON_GX=y
CONFIG_MTD=n
CONFIG_AML_MTDPART=y
CONFIG_NAND=n
CONFIG_DM_SPI_FLASH=n
CONFIG_PHY=y
CONFIG_AML_USB3_PHY=n
CONFIG_AML_USB2_PHY=n
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_MESON_SC2=y
CONFIG_DM_REGULATOR=y
CONFIG_DEBUG_UART_MESON=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_MESON_SERIAL=y
CONFIG_SPI=n
CONFIG_DM_SPI=n
CONFIG_AML_SPIFCV2=n
CONFIG_USB=n
CONFIG_DM_USB=n
CONFIG_AML_USB=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_XHCI_DWC3=n
CONFIG_USB_GADGET=n
CONFIG_USB_GADGET_VENDOR_NUM=0x1b8e
CONFIG_AML_V3_FACTORY_BURN=n
CONFIG_AML_V3_USB_TOOl=n
CONFIG_WDT=y
CONFIG_WDT_MESON=y
CONFIG_AML_DRIVER=y
CONFIG_AML_MEDIA=y
CONFIG_AML_VOUT=y
CONFIG_AML_OSD=y
CONFIG_AML_CANVAS=y
CONFIG_AML_VPP=y
CONFIG_AML_VPU=y
CONFIG_AML_HDMITX20=y
CONFIG_EFUSE=n
CONFIG_SHA1=y
CONFIG_SHA256=y
CONFIG_OF_LIBFDT_OVERLAY=n
CONFIG_SECURE_POWER_CONTROL=y
