if ARCH_MESON

config PINCTRL_MESON
	bool

config PINCTRL_MESON8_PMX
	bool

config PINCTRL_MESON_AXG_PMX
	bool

config PINCONF_MESON_G12A
	bool

config PINCTRL_MESON_GXBB
	bool "Amlogic Meson GXBB SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON8_PMX

config PINCTRL_MESON_GXL
	bool "Amlogic Meson GXL SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON8_PMX

config PINCTRL_MESON_AXG
	bool "Amlogic Meson AXG SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX

config PINCTRL_MESON_G12A
	bool "Amlogic Meson G12A SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_A1
	bool "Amlogic Meson A1 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_C1
	bool "Amlogic Meson C1 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_S4
	bool "Amlogic Meson S4 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_SC2
	bool "Amlogic Meson SC2 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_C2
	bool "Amlogic Meson C2 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_T7
	bool "Amlogic Meson T7 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_T3
	bool "Amlogic Meson T3 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_P1
	bool "Amlogic Meson P1 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_A5
	bool "Amlogic Meson A5 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

config PINCTRL_MESON_C3
	bool "Amlogic Meson C3 SoC pinctrl driver"
	depends on PINCTRL_GENERIC
	depends on PINCONF
	select PINCTRL_MESON
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_G12A

endif
