if TARGET_T3X_SKY

config SYS_SOC
	default "t3x"

config SYS_BOARD
	default "t3x_sky"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "t3x_sky"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
