if TARGET_A1_AD403

config SYS_SOC
	default "a1"

config SYS_BOARD
	default "a1_ad403"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "a1_ad403"

config CMD_PLLTEST
	bool "support plltest command"
	default y

config DTB_BIND_KERNEL
	bool "load dtb from boot part but not flash rsv"
    	default n

endif
