#
# AML V3 burning
#
menuconfig AML_V3_FACTORY_BURN
	bool "Amlogic V3 burning Support"
	---help---
	  Say Y here if you want to support amlogic V3 factory burning

if AML_V3_FACTORY_BURN

config AML_V3_USB_TOOl
	bool "DNL USB burning support"
	select USB_GADGET_DOWNLOAD
    select FASTBOOT_DWC_PCD #for fastboot/dwc_pcd.o fastboot/dwc_pcd_irq.o
	depends on USB_GADGET
	---help---
	  Say Y here if you want to update firmware by aml DNL tool

config V3_USB_BURN_FULL_SPEED
    depends on AML_V3_USB_TOOl
    bool "usb burning driver runing on Full-speed mode"
    default n
	---help---
	  Change Y Only when u testing on usb or FS mode have problem

endif #AML_V3_FACTORY_BURN

