if TARGET_A5_AV400_ZIRCON

config SYS_SOC
	default "a5"

config SYS_BOARD
	default "a5_av400_zircon"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "a5_av400_zircon"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default n
	help
	  support plltest command

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
