if TARGET_C3_AW409_EMMC

config SYS_SOC
	default "c3"

config SYS_BOARD
	default "c3_aw409_emmc"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "c3_aw409_emmc"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
