config CLK_MESON_G12
	bool "Support G12A/G12B Clock"
	depends on CLK
	help
		This option is used to enable the meson g12a clock
		driver.

config CLK_MESON_A1
	bool "Support A1 Clock"
	depends on CLK
	help
		This option is used to enable the meson a1 clock
		driver.

config CLK_MESON_C1
	bool "Support C1 Clock"
	depends on CLK
	help
		This option is used to enable the meson c1 clock
		driver.

config CLK_MESON_S4
	bool "Support S4 Clock"
	depends on CLK
	help
		This option is used to enable the meson s4 clock
		driver

config CLK_MESON_SC2
        bool "Support SC2 Clock"
        depends on CLK
        help
          This option is used to enable the meson sc2 clock
          driver

config CLK_MESON_C2
        bool "Support C2 Clock"
        depends on CLK
        help
          This option is used to enable the meson c2 clock
          driver.

config CLK_MESON_T7
        bool "Support T7 Clock"
        depends on CLK
        help
          This option is used to enable the meson t7 clock
          driver

config CLK_MESON_P1
	bool "Support P1 Clock"
	depends on CLK
	help
		This option is used to enable the meson p1 clock
		driver.

config CLK_MESON_T3
        bool "Support T3 Clock"
        depends on CLK
        help
          This option is used to enable the meson t3 clock
          driver

config CLK_MESON_A5
        bool "Support A5 Clock"
        depends on CLK
        help
          This option is used to enable the meson a5 clock
          driver

config CLK_MESON_C3
        bool "Support C3 Clock"
        depends on CLK
        help
          This option is used to enable the meson a5 clock
          driver