if TARGET_KEDGE2

config SYS_BOARD
	default "rk3588s-khadas-edge2"

config SYS_VENDOR
	default "khadas"

config SYS_CONFIG_NAME
	default "kedge2"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
