if TARGET_A1_AD402

config SYS_SOC
	default "a1"

config SYS_BOARD
	default "a1_ad402"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "a1_ad402"

config CMD_PLLTEST
	bool "support plltest command"
	default y
	help
	  support plltest command

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

endif
