CONFIG_PXP_EMULATOR=y
CONFIG_ARM=y
CONFIG_ARCH_MESON=y
CONFIG_SYS_TEXT_BASE=0x01000000
CONFIG_MESON_A1=y
CONFIG_TARGET_A1_SKT_V1=y
CONFIG_DM_GPIO=y
CONFIG_DM_MMC=n
CONFIG_AML_GPT=n
CONFIG_MMC=n
CONFIG_CMD_MMC=n
CONFIG_MMC_MESON_GX=y
# CONFIG_AML_GPIO=y
CONFIG_SYS_PROMPT="a1_skt_v1# "
CONFIG_DEFAULT_DEVICE_TREE="meson-a1-s905N-xxx"
CONFIG_BOOTCOMMAND="echo bootcmd"
CONFIG_BOOTDELAY=0
CONFIG_OF_BOARD_SETUP=y
CONFIG_CPU_CLK=1200
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_IMI is not set
CONFIG_CMD_GPIO=y
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_SPI=n
CONFIG_CMD_SARADC=n
# CONFIG_CMD_SETEXPR is not set
CONFIG_OF_CONTROL=y
CONFIG_ADC=n
CONFIG_SARADC_MESON=n
CONFIG_CLK=y
CONFIG_CLK_MESON=y
CONFIG_CLK_MESON_A1=y
CONFIG_CMD_CLKMSR=y
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_MESON_A1=y
CONFIG_DM_REGULATOR=n
CONFIG_DM_PWM=n
CONFIG_PWM_MESON=y
CONFIG_ADC_POWER_KEY_CHAN=2
CONFIG_ADC_POWER_KEY_VAL=0
CONFIG_WDT=y
CONFIG_WDT_MESON=y
CONFIG_CMD_WATCHDOG=y
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_MESON=y
CONFIG_CMD_I2C=y
# CONFIG_AML_BL33_COMPRESS_ENABLE=1
CONFIG_AML_CRYPTO_UBOOT=n
CONFIG_AML_CUSTOMER_ID=0
CONFIG_AML_DRIVER=n
CONFIG_AML_MEDIA=y
CONFIG_AML_VPU=n
CONFIG_AML_VPP=n
CONFIG_AML_CANVAS=n
CONFIG_AML_OSD=n
CONFIG_CMD_BMP=n
CONFIG_AML_VOUT=n
CONFIG_AML_CVBS=n
CONFIG_AML_HDMITX=n
CONFIG_AML_LCD=n
CONFIG_AML_LCD_TV=n
CONFIG_AML_LCD_TABLET=n
CONFIG_AML_LCD_EXTERN=n
CONFIG_AML_BL_EXTERN=n
CONFIG_NEED_BL301=n
CONFIG_NEED_BL32=y
CONFIG_CMD_RSVMEM=n
CONFIG_FIP_IMG_SUPPORT=n
CONFIG_SYS_LONGHELP=y
CONFIG_CMD_MISC=n
CONFIG_CMD_ITEST=n
CONFIG_CMD_CPU_TEMP=o
CONFIG_CMD_LOADB=n
CONFIG_MESON_NFC=n
CONFIG_AML_SECURE_BOOT_V3=n
CONFIG_AML_SECURE_UBOOT=n
CONFIG_AML_SECURITY_KEY=n
CONFIG_BL2_COPY_NUM=4
CONFIG_BOOTLOADER_CONTROL_BLOCK=n
CONFIG_CMD_BOOTCTOL_AVB=n
CONFIG_BT_WAKEUP=n
CONFIG_CEC_OSD_NAME="AML_TV"
CONFIG_CEC_WAKEUP=n
CONFIG_CMD_VIU_PROBE=n
CONFIG_CPU_CLK=1200
CONFIG_DDR4_TIMING_TEST=0
CONFIG_DDR_FULL_TEST=0
CONFIG_DDR_LOW_POWER=0
CONFIG_DDR_PLL_BYPASS=0
# CONFIG_DDR_SIZE=0
CONFIG_DDR_USE_EXT_VREF=0
CONFIG_DDR_ZQ_PD=0
CONFIG_DISCRETE_BOOTLOADER=n
CONFIG_DTB_MEM_ADDR=0x1000000
CONFIG_EFUSE=n
CONFIG_MDUMP_COMPRESS=1
# CONFIG_PLATFORM_POWER_INIT=y
CONFIG_POWER_KEY_NOT_SUPPORTED_FOR_BURN=1
CONFIG_RANDOM_ETHADDR=0
CONFIG_SARADC_CH=2
CONFIG_STORE_COMPATIBLE=0
CONFIG_SYS_HUSH_PARSER=0
CONFIG_SYS_NO_FLASH=1
CONFIG_TPL_COPY_NUM=4
CONFIG_TPL_PART_NAME="tpl"
CONFIG_TPL_SIZE_PER_COPY=0x200000
CONFIG_TXLX_USB=0
CONFIG_USB_DEVICE_V2=n
CONFIG_USB=n
CONFIG_CMD_USB=n
CONFIG_USB_STORAGE=n
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_XHCI_DWC3=n
CONFIG_FASTBOOT=n
CONFIG_CMD_FASTBOOT=n
CONFIG_FASTBOOT_DWC_PCD=n
CONFIG_USB_GADGET=n
CONFIG_USB_GADGET_DUALSPEED=n
CONFIG_AML_V2_FACTORY_BURN=n
CONFIG_USB_BURNING_TOOL=n
CONFIG_AML_FACTORY_BURN_LOCAL_UPGRADE=n
CONFIG_SD_BURNING_SUPPORT_UI=n
CONFIG_UNIFY_KEY_MANAGE=n
CONFIG_SECURE_STORAGE=n
CONFIG_VCCK_INIT_VOLTAGE=800
# CONFIG_VDDEE_INIT_VOLTAGE=800
# CONFIG_VDDEE_SLEEP_VOLTAGE=731
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_MESON=y
CONFIG_DEBUG_UART_BASE=0xfe001c00
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_MESON_SERIAL=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_CMD_D2PLL=n
CONFIG_CMD_DDRTEST=n
CONFIG_AML_NAND=n
CONFIG_DM_MTD=n
CONFIG_MTD_UBI=n
#CONFIG_MTD=y
CONFIG_NAND=n
CONFIG_MTD_DEVICE=n
CONFIG_AML_MTD=n
CONFIG_CMD_MTDPARTS=n
#CONFIG_AML_MTDPART=y
CONFIG_AML_STORAGE=n
CONFIG_AML_PARTITION=n
CONFIG_MTD_PARTITIONS=n
CONFIG_DM=y
CONFIG_SPI=n
CONFIG_DM_SPI=n
CONFIG_AML_SPICC=n
CONFIG_PHY=n
CONFIG_DM_USB=n
CONFIG_AML_USB2_PHY=n
CONFIG_AML_USB3_PHY=n
CONFIG_AML_USB=n
CONFIG_DM_ETH=n
#CONFIG_SPI_FLASH=y
CONFIG_DM_SPI_FLASH=n
CONFIG_CMD_SF=n
CONFIG_AML_SPIFC=n
CONFIG_SPI_FLASH_WINBOND=n
#CONFIG_SPI_FLASH_MTD=n
CONFIG_SPI_NAND=n
CONFIG_AML_TSENSOR=n
CONFIG_AML_TSENSOR_COOL=n
CONFIG_AML_OSCRING=n
CONFIG_CMD_EFUSE=n
#CONFIG_CMD_DDR_D2PLL=n
#CONFIG_CMD_DDR_TEST=n
CONFIG_SYS_ICACHE_OFF=n
CONFIG_SYS_DCACHE_OFF=n
CONFIG_DM_VIDEO=n
CONFIG_OF_EMBED=y
CONFIG_SHA1=y
CONFIG_MD5=y
