CONFIG_BASE_DEFCONFIG="rk3506_defconfig"
# CONFIG_CMD_MII is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_TFTP_BOOTM is not set
# CONFIG_CMD_TFTP_FLASH is not set
# CONFIG_DISPLAY is not set
# CONFIG_DM_ETH is not set
# CONFIG_DM_ETH_PHY is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_I2C_EDID is not set
# CONFIG_NET is not set
# CONFIG_VIDEO_BRIDGE is not set
# CONFIG_VIDEO is not set
