CONFIG_BASE_DEFCONFIG="rk3576_defconfig"
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_DEFAULT_DEVICE_TREE="rk3576-tb"
CONFIG_OF_LIST="rk3576-tb"
# CONFIG_SPL_AB is not set
CONFIG_SPL_ADC_SUPPORT=y
CONFIG_SPL_INPUT=y
CONFIG_SPL_KERNEL_BOOT=y
# CONFIG_SPL_KERNEL_BOOT_PREBUILT is not set
# CONFIG_TPL is not set
# CONFIG_ROCKCHIP_META is not set
CONFIG_SPL_ADC_KEY=y
# CONFIG_SPL_CROS_EC_KYB is not set
# CONFIG_SPL_KERNEL_BOOET_PREBUILT is not set
# CONFIG_SPL_GPIO_SUPPORT is not set
# CONFIG_SPL_SPI_FLASH_SUPPORT is not set
# CONFIG_SPL_SPI_SUPPORT is not set
# CONFIG_SPL_MTD_SUPPORT is not set
# CONFIG_SPL_PINCTRL is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
CONFIG_OF_SPL_REMOVE_PROPS="pinctrl-0 pinctrl-names clock-names interrupt-parent assigned-clocks assigned-clock-rates assigned-clock-parents"
# CONFIG_RSA is not set
# CONFIG_SPL_RSA is not set
# CONFIG_SPL_GZIP is not set
# CONFIG_SPL_ROCKCHIP_SECURE_OTP is not set
# CONFIG_MTD_BLK is not set
CONFIG_ROCKCHIP_EMMC_IOMUX=y
