#
# USB burning
#

menuconfig V2_BURNING
	bool "V2 burning Support"

if V2_BURNING

config AML_V2_FACTORY_BURN
	bool "USB burning tool support"
	select USB_DEVICE_V2
	---help---
	  Say Y here if you want to update firmware through the update command

#config USB_DEVICE_V2
#	bool


endif # V2_BURNING
