
if MESON_G12A

config SYS_SOC
	default "g12a"

config TARGET_G12A_U200_V1
	bool "G12A_U200_V1"

config TARGET_G12A_U211_V1
	bool "G12A_U211_V1"

endif

# Amlogic boards

source "board/amlogic/g12a_u200_v1/Kconfig"
