if TARGET_P1_AS400

config SYS_SOC
	default "P1"

config SYS_BOARD
	default "p1_as400"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "p1_as400"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default n
	help
	  support plltest command

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
