if TARGET_T7_AN400P_LPDDR4X

config SYS_SOC
	default "t7"

config SYS_BOARD
	default "t7_an400p_lpddr4x"

config SYS_VENDOR
	default "amlogic"

config SYS_CONFIG_NAME
	default "t7_an400p_lpddr4x"

config DTB_BIND_KERNEL
    bool "load dtb from boot part but not flash rsv"
    default n

config CMD_PLLTEST
	bool "support plltest command"
	default n
	help
	  support plltest command

config AML_REBOOT
       bool "reboot cmd"
       default y
       help
         support uboot reboot cmd
endif
